@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
:root{
    --container: 75rem;
    --colorOne: #4997FF;
    --height: calc(100vh - 5rem);
    --top: 5.5rem; 
}
#container{
    display: flex;
    flex-direction: column;
}
#container_wrapper, #container_about, #container_hardSkill, #container_footer, #container_contact{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* ========================== HEADER =======================*/
#header{
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 20px #000;
    position: fixed;
    z-index: 10;
    background-color: #1A1B30;
}
.header_container{
    width: var(--container);
    height: 5.5rem;
    display: flex;
}
.header_brandName{
    flex: 1;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_brandName a {
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: center;
}
.header_brandName > a > span{
    flex: 1;
    background-image: url(../img/Logo-oficial.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.header_navbar{
    flex: 5;
}
.navbar_list{
    height: 5.5rem;
    display: flex;
    justify-content: end;
    align-items: center;
    list-style: none;
}
.navbar_list > a{
    text-decoration: none;
    color: #fff;
    margin-right: 3.5rem;
}
.navbar_list > a:hover{
    color: #4997FF;
}
.navbar_list .active{
    border-bottom: 2px solid var(--colorOne);
}
/* ==========================  CONTENT GENERAL  =======================*/

/* ========================== WRAPPER =======================*/
#container_wrapper{
    height: var(--height);
    margin-top: 5.5rem;
    background-image: url(../img/bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.wrapper{
    width: var(--container);
    display: flex;
}
.wrapper_info{
    display: flex;
    flex-direction: column;
    flex: 1;
    color: #fff;
}
/* ======= Text ======*/
.wrapper_text{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.wrapper_paragraph{
    font-size: 1.5rem;
}
.wrapper_title{
    font-size: 4.5rem;
}
.wrapper_subtitle{
    font-weight: 600;
    color: #4997FF;
    font-size: 2.5rem;
}
.wrapper_subtitle::after{
    content: "_";
    animation: blink .7s infinite;
}
/* ======= Social ======*/
.wrapper_social{
    flex: 1;
    margin-top: 1.25rem;
}
.wrapper_social > a{
    color: #fff;
    margin-left: 1rem;
}
.wrapper_social > a > i:hover{
    color: #4997FF;
}
/* ======= Image ======*/
.wrapper_img{
    flex: 1;
    background-image: url(../img/banner-image-official.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
/* ======================= ABOUT =====================*/
.about_content{
    width: var(--container);
    height: var(--height);
    display: flex;
    justify-content: center;
    align-items: center;
}
.about{
    width: 65rem;
    height: 25rem;
    display: flex;
}
.about_img, .about_info{
    flex: 1;
}
/* ======= Image ======*/
/* ======= About ======*/
.info_title, .portfolio_tilte, .skill_title{
    font-size: 2rem;
    padding-bottom: 1.25rem;
    position: relative;
}
.info_title::after, .portfolio_tilte::after, .skill_title::after{
    content: '';
    position: absolute;
    width: 8.438rem;
    height: 0.125rem;
    background-color: var(--colorOne);
    top: 2.5rem;
    left: 1.875rem;
}
.info_about{
    font-size: 1.2rem;
    text-align: justify;
    font-weight: 500;
    word-wrap: break-word;
    line-height: 2rem;
    text-indent: 1.25rem;
}
.info_about:not(:last-child){
    margin-bottom: 1rem;
}
.about_btn{
    position: relative;
    top: 1.25rem;
    border: 1px solid rgba(0,0,0,.5);
    padding: .4rem;
    border-radius: 5px;
    cursor: pointer;
}
.about_btn:hover{
    transform: scale(.9);
}
.about_btn a{
    text-decoration: none;
    color: var(--colorOne);
}
/* ======================= HARD SKILL =====================*/
.hardSkill{
    width: 75rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skill_title{
    flex: 1;
    padding: 2.5rem 0;
}
.skill_title::after{
    width: 4.438rem;
    top: 5rem;
    left: 0.875rem;
}
.skill_content{
    flex: 3;
}
.skill_content img{
    width: 5rem;
}
.skill_content img:hover, .skill_content i:hover{
    opacity: .5;
}
.skill_content img:not(:last-child){
    margin-right: 1.25rem;
}
.skill_content i{
    position: relative;
    top: -10px;
    color: #1E7442;
}
/* ======================= PORTFOLIO =====================*/
#portfolio_container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.portfolio{
    width: var(--container);
    height: 95rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.portfolio_tilte{
    padding: 2.5rem 0;
}
.portfolio_tilte::after{
    width: 7.5rem;
    left: 0.938rem;
    top: 5rem;
}
.portfolio_buttons{
    padding: 1.25rem;
}
.portfolio_buttons button{
    position: relative;
    bottom: 1.25rem;
    border:none;
    cursor: pointer;
    font-size: 1.2rem;
    background-color: #fff;
}
.portfolio_buttons button:not(:last-child){
    margin-right: 1.5rem;
}
.portfolio_buttons .active_btn{
    border-bottom: 2px solid var(--colorOne);
}
.portfolio_project{
    width: 58rem;
    display: flex;
    flex-direction: column;
}
.portfolio_area{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 78rem;
}
.card_container{
    position: relative;
    width: 300px;
    height: 400px;
    overflow: hidden;
    transition: all .3s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: all .3s;
}
.card_container:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.card_container .image img{
    width: 100%;
    height: 100%;
    transition: all .5s;
}
.card_container .image img:hover{
    transform: scale(1.1);
}
.card_content{
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 200px;
    bottom: 0;
    transition: all .3s;
    transform: translateY(70%);
}
.card_content .card_title, .card_paragraph{
    text-align: center;
    padding: .5rem;
    color: #212121;
    transition: all .3s;
}
.card_content .card_link{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
}
.card_content .card_link a{
    padding: 1rem .6rem;
    color: #212121;
}
.card_content .card_link{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
}
.card_content .card_link a{
    padding: 1rem .6rem;
    color: #212121;
}
/* ======================== CONTACT ======================*/
.contact{
    width: 75rem;
    height: 25rem;
    border: 1px solid red;
}

/* ========================= FOOTER =======================*/
#container_footer{
    background-color: #000018;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer{
    width: var(--container);
    display: flex;
    flex-direction: column; 
}
.footer_brandName{
    display: flex;
}
.footer_brandName::after{
    content: '';
    display: flex;
    align-self: center;
    width: 65rem;
    height: 1px;
    margin-left: 1.25rem;
    background-color: rgba(255, 255, 255, 0.3);
}
.footer_menus{
    width: 25rem;
    display: flex;
    margin-left: 20rem;
}
.menu_items{
    flex: 1;
}
.menu_items ul{
    list-style: none;
}
.menu_items ul a{
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    font-weight: 300;
}
.menu_items ul a li{
    margin: 1.25rem 0;
    color: #666666;
}
.menu{
    font-size: 1.25rem;
    color: #fff;
}
.copy{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6rem;
    line-height: 3rem;
    color: #666666;
    background-color: rgba(13, 17, 31, 0.7);
}
.copy_content{
    width: var(--container);
}
/* ======================= @KEYFRAMES ==================*/
@keyframes blink {
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}